$bg: #eaeaea;

body {
  font-family: Roboto;
  background-color: #111d4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
h1 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 1rem;
}

h2 {
  grid-area: plu;
  margin-bottom: 0px;
  font-size: 1.5rem;
  /* Hacer texto no seleccionable */
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  grid-area: name;
  margin: 0;
  font-size: 1.2rem;
  /* Hacer texto no seleccionable */
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  padding: 2.5rem;
  max-width: 62.5rem;
  margin: 0 auto;
  text-align: center;
}

#itemsList {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.25rem;
}

.item {
  list-style-type: none;
  background-color: $bg;
  border-radius: 0.1875rem;
  padding: 0.625rem 1.25rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "name img"
    "houses img";
  text-align: left;
  
}

.primerItem {
  list-style-type: none;
  background-color: #59bdf7;
  border-radius: 0.1875rem;
  padding: 0.625rem 1.25rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "name img"
    "houses img";
  text-align: left;
  
}

.itemSeleccionado {
  list-style-type: none;
  background-color: #c89fff;
  border-radius: 0.1875rem;
  padding: 0.625rem 1.25rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "name img"
    "houses img";
  text-align: left;
}

.no-seleccionable {
  /* Hacer texto no seleccionable */
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity:0;
}

#searchBar { /*No sé qué le pasa a esta mierda pero no funciona*/
  width: 100%;
  height: 2rem;
  border-radius: 0.1875rem;
  border: 0.0625rem solid $bg;
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
}

#searchContainer {
  position: relative;
}

#searchContainer::after {
  content: "🔍";
  position: absolute;
  top: 0.4375rem;
  right: 0.9375rem;
}
